html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.qr-section {
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
}

.qr-code-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 15px;
}

img {
  border-radius: 15px;
}

.headline {
  font-weight: 700;
  font-size: 15px;
  width: 200px;
  margin: auto;
  padding: 8px;
}

.body-copy {
  font-weight: 400;
  font-size: 15px;
  width: 235px;
  margin: auto;
  color: hsl(220, 15%, 55%);
  padding: 8px;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}
